# Python
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env

# Project specific Data & Indices
data/**/*

But do NOT ignore the raw folder or its contents
!data/raw/
!data/raw/**

# keep the folder structure of empty folders, 
!**/ .gitkeep

# OS specific files
.DS_Store
Thumbs.db